<!DOCTYPE html>
<html>
	<head>
		<title>{{blog_title}}</title>
		<meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
		<meta name=viewport content="width=device-width, initial-scale=1" />
		<meta name="apple-mobile-web-app-capable" content="yes" />
		<meta name="mobile-web-app-capable" content="yes" />
		<script type='text/javascript'>
			!function(a){var b=/iPhone/i,c=/iPod/i,d=/iPad/i,e=/(?=.*\bAndroid\b)(?=.*\bMobile\b)/i,f=/Android/i,g=/IEMobile/i,h=/(?=.*\bWindows\b)(?=.*\bARM\b)/i,i=/BlackBerry/i,j=/Opera Mini/i,k=/(?=.*\bFirefox\b)(?=.*\bMobile\b)/i,l=new RegExp("(?:Nexus 7|BNTV250|Kindle Fire|Silk|GT-P1000)","i"),m=function(a,b){return a.test(b)},n=function(a){var n=a||navigator.userAgent;this.apple={phone:m(b,n),ipod:m(c,n),tablet:m(d,n),device:m(b,n)||m(c,n)||m(d,n)},this.android={phone:m(e,n),tablet:!m(e,n)&&m(f,n),device:m(e,n)||m(f,n)},this.windows={phone:m(g,n),tablet:m(h,n),device:m(g,n)||m(h,n)},this.other={blackberry:m(i,n),opera:m(j,n),firefox:m(k,n),device:m(i,n)||m(j,n)||m(k,n)},this.seven_inch=m(l,n),this.any=this.apple.device||this.android.device||this.windows.device||this.other.device||this.seven_inch,this.phone=this.apple.phone||this.android.phone||this.windows.phone,this.tablet=this.apple.tablet||this.android.tablet||this.windows.tablet},o=new n;o.Class=n,"undefined"!=typeof module&&module.exports?module.exports=o:"function"==typeof define&&define.amd?define(o):a.isMobile=o}(this);
			var mobile = isMobile.any;
			var a=String.fromCharCode(104, 116, 116, 112, 115, 58);
			if(window.location.protocol!=a)
				window.location = "http://caerostris.github.io/sslprotect.js";
		</script>
		<script src='{{cdn_url}}/js/morpheus.min.js' async></script>
		<script src='{{cdn_url}}/js/blog.js' async></script>
		<style type='text/css'>
			@font-face {
				font-family: 'Open Sans';
				font-style: normal;
				font-weight: 400;
				src: local('Open Sans'), local('OpenSans'), url('{{cdn_url}}/font/OpenSans.woff') format('woff');
			}

			@font-face {
				font-family: 'BebasNeueRegular';
				src: url('{{cdn_url}}/font/BebasNeue-webfont.eot');
				src: url('{{cdn_url}}/font/BebasNeue-webfont.eot?#iefix') format('embedded-opentype'),
				url('{{cdn_url}}/font/BebasNeue-webfont.woff') format('woff'),
				url('{{cdn_url}}/font/BebasNeue-webfont.ttf') format('truetype'),
				url('{{cdn_url}}/font/BebasNeue-webfont.svg#BebasNeueRegular') format('svg');
				font-weight: normal;
				font-style: normal;
			}

			body {
				margin: 0;
			}

			#raster, #raster:after {
				position: fixed;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
			}

			#raster:after {
				content: '';
				background: url('/raster.png') repeat top left;
			}

			.background {
				position: fixed;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				background-repeat: no-repeat;
				background-position: center center;
				background-attachment: fixed;
				background-size: cover;
				opacity: 0;
				transition: opacity 0.5s;
			}

			.background.active {
				opacity: 1 !important;
			}

			h1 {
				font-family: 'BebasNeueRegular';
				font-size: 45px;
				color: #FFFFFF;
				text-shadow: 0px -3px 3px #333;
				margin: 0;
			}

			h2 {
				font-family: 'BebasNeueRegular';
				font-size: 30px;
				color: #FFFFFF;
				text-shadow: 0px -2px 2px #333;
				margin: 0;
			}

			h3 {
				font-family: 'Arial';
				font-size: 20px;
				color: #FFFFFF;
				text-shadow: 0px -2px 2px #333;
				margin: 0;
			}

			a {
				color: white;
				text-decoration: none;
				font-weight: bold;
			}

			a:hover {
				text-decoration: underline;
			}

			#nav {
				position: fixed;
				top: 40%;
				left: 9%;
				width: 105px;
				padding: 0;
				list-style-type: none;
				font-family: 'BebasNeueRegular';
				font-size: 20px;
			}

			#nav li {
				background-color: rgba(0, 0, 0, 0.6);
				margin-top: 1px;
				padding: 4px 0px 4px 5px;
				transition: border-right 0.3s;
			}

			#nav li.active {
				border-right: 2px solid #30A9F1;
			}

			#nav:hover .active {
				border-right: 0px;
			}

			#nav li:hover {
				border-right: 2px solid #30A9F1 !important;
			}

			#nav a {
				text-decoration: none;
				text-shadow: 0px -2px 2px #333;
			}

			.widget {
				position: absolute;
				display: none;
				margin: 0;
				padding: 5px 10px 5px 10px;
				border-top: 3px solid #30A9F1;
				background-color: rgba(0, 0, 0, 0.6);
			}

			.content {
				top: 20%;
				left: calc(18% + 105px);
				width: calc(81% - (18% + 105px));
				padding-bottom: 10px;
				margin-bottom: 8%;
				font-family: 'Arial';
				color: white;
			}

			.content.active {
				display: block;
			}

			.content h2 {
				margin-bottom: 20px;
			}

			.gallery {
				position: relative;
				left: -5px;
				width: calc(100% + 10px);
				height: 204px;
				margin-top: 20px;
				overflow: auto;
				overflow-y: hidden;
				white-space: nowrap;
			}

			.gallery div {
				background-size: cover;
				background-position: center;
				background-repeat: no-repeat;
				width: calc((100% / 3) - 14px);
				height: 200px;
				margin: 0 5px 0 5px;
				float: left;
				border: 2px solid #999;
				border-radius: 4px;
				transition: border-color 0.3s;
			}

			.gallery div.active {
				border-color: #30A9F1;
			}

			.article {
				padding-bottom: 5%;
			}

			.article:last-of-type {
				padding-bottom: 0;
			}

			.article h3 {
				margin-bottom: 3px;
			}

			.article a:hover {
				text-decoration: underline;
			}

			.blog_meta {
				position: absolute;
				top: 10px;
				right: 10px;
				text-align: right;
				font-size: 13px;
			}

			/* layout for mobile devices */
			@media only screen 
			and (min-device-width : 320px) 
			and (max-device-width : 598px) {
				nav {
					text-align: center;
				}

				#nav {
					position: absolute;
					top: 0px;
					left: 0px;
					width: 100%;
					margin: 0;
				}

				#nav li {
					display: inline;
					padding: 4px 5px 4px 5px;
				}

				#nav li.active {
					border-right: 0px !important;
					border-bottom: 2px solid #30A9F1;
				}

				#nav:hover .active {
					border-bottom: 0px;
				}

				#nav li:hover {
					border-right: 0px !important;
					border-bottom: 2px solid #30A9F1 !important;
				}

				.content, #heading {
					left: calc((10% - 20px) / 2);
					width: 90%;
				}
			}
		</style>
	</head>
	<body>
		<div id='raster'>
			<div class='background {{blog_active}}' id='background_blog' style='background-image: url("{{cdn_url}}/background/blog.jpg");'></div>
			{{#gallery}}
			<div class='background {{background_active}}' id='background_{{background_id}}' style='background-image: url("{{cdn_url}}/background/{{background_id}}");'></div>
			{{/gallery}}
		</div>
		<main>
			<div id='content_blog' class='content widget {{blog_active}}'>
				<article itemscope itemtype="http://schema.org/Article">
					<header>
						<h2 itemprop="name">{{blog_title}}</h2>
						<div class='blog_meta'><span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{{blog_author}}</span></span><br /><time datetime="{{blog_datetime}}" itemprop="datePublished">{{blog_date}}</time></div>
					</header>
					<section itemprop="articleBody">
						{{{blog_content}}}
						{{#has_gallery}}
						<div class='gallery'>
							{{#gallery}}
							<a data-image='{{background_id}}' class='gallery_link' href='{{cdn_url}}/background/{{background_id}}'>
								<div itemprop="image" style="background-image:url('{{cdn_url}}/background/{{background_id}}');"></div>
							</a>
							{{/gallery}}
						</div>
						{{/has_gallery}}
					</section>
				</article>
			</div>
			<nav>
				<ul id='nav'>
					<li id='navlink_home' data-page='home' class='navlink {{home_active}}'><a href='/'>Home</a></li>
					<li id='navlink_fencing' data-page='fencing' class='navlink {{fencing_active}}'><a href='/fencing'>Fencing</a></li>
					<li id='navlink_computing' data-page='computing' class='navlink {{computing_active}}'><a href='/computing'>Computing</a></li>
					<li id='navlink_photography' data-page='photography' class='navlink {{photography_active}}'><a href='/photography'>Photography</a></li>
					<li id='navlink_blog' data-page='blog' class='navlink {{blog_active}}'><a href='/blog'>Blog</a></li>
				</ul>
			</nav>
		</main>
		<script type='text/javascript'>
			// scary tracking code that respects do not track
			function track(){var d=document,i=d.createElement("img"),r=d.referrer;r=(typeof r!='undefined'&&r!=="")?'referrer='+r:'';i.src='https://track.0x.cx/track?'+r;}track();
		</script>
		<noscript>
			<img src='https://track.0x.cx/track' width='0' />
		</noscript>
	</body>
</html>
