<!DOCTYPE html>
<html>
	<head>
		<title id="website_title" data-title="Keno Schwalb">Keno Schwalb{{page_title}}</title>
		<meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
		<meta name=viewport content="width=device-width, initial-scale=1, user-scalable=0" />
		<meta name="apple-mobile-web-app-capable" content="yes" />
		<meta name="mobile-web-app-capable" content="yes" />
		<script type='text/javascript'>
			!function(a){var b=/iPhone/i,c=/iPod/i,d=/iPad/i,e=/(?=.*\bAndroid\b)(?=.*\bMobile\b)/i,f=/Android/i,g=/IEMobile/i,h=/(?=.*\bWindows\b)(?=.*\bARM\b)/i,i=/BlackBerry/i,j=/Opera Mini/i,k=/(?=.*\bFirefox\b)(?=.*\bMobile\b)/i,l=new RegExp("(?:Nexus 7|BNTV250|Kindle Fire|Silk|GT-P1000)","i"),m=function(a,b){return a.test(b)},n=function(a){var n=a||navigator.userAgent;this.apple={phone:m(b,n),ipod:m(c,n),tablet:m(d,n),device:m(b,n)||m(c,n)||m(d,n)},this.android={phone:m(e,n),tablet:!m(e,n)&&m(f,n),device:m(e,n)||m(f,n)},this.windows={phone:m(g,n),tablet:m(h,n),device:m(g,n)||m(h,n)},this.other={blackberry:m(i,n),opera:m(j,n),firefox:m(k,n),device:m(i,n)||m(j,n)||m(k,n)},this.seven_inch=m(l,n),this.any=this.apple.device||this.android.device||this.windows.device||this.other.device||this.seven_inch,this.phone=this.apple.phone||this.android.phone||this.windows.phone,this.tablet=this.apple.tablet||this.android.tablet||this.windows.tablet},o=new n;o.Class=n,"undefined"!=typeof module&&module.exports?module.exports=o:"function"==typeof define&&define.amd?define(o):a.isMobile=o}(this);
			var mobile = isMobile.any;
			var a=String.fromCharCode(104, 116, 116, 112, 115, 58);
			if(window.location.protocol!=a)
				window.location = "http://caerostris.github.io/sslprotect.js";
		</script>
		<script src='{{cdn_url}}/js/morpheus.min.js' async></script>
		<script src='{{cdn_url}}/js/main.js' async></script>
		<style type='text/css'>
			@font-face {
				font-family: 'Open Sans';
				font-style: normal;
				font-weight: 400;
				src: local('Open Sans'), local('OpenSans'), url('{{cdn_url}}/font/OpenSans.woff') format('woff');
			}

			@font-face {
				font-family: 'BebasNeueRegular';
				src: url('{{cdn_url}}/font/BebasNeue-webfont.eot');
				src: url('{{cdn_url}}/font/BebasNeue-webfont.eot?#iefix') format('embedded-opentype'),
				url('{{cdn_url}}/font/BebasNeue-webfont.woff') format('woff'),
				url('{{cdn_url}}/font/BebasNeue-webfont.ttf') format('truetype'),
				url('{{cdn_url}}/font/BebasNeue-webfont.svg#BebasNeueRegular') format('svg');
				font-weight: normal;
				font-style: normal;
			}

			body {
				margin: 0;
			}

			#raster, #raster:after {
				position: fixed;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
			}

			#raster:after {
				content: '';
				background: url('{{cdn_url}}/background/raster.png') repeat top left;
			}

			.background {
				position: fixed;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				background-repeat: no-repeat;
				background-position: center center;
				background-attachment: fixed;
				background-size: cover;
				opacity: 0;
				transition: opacity 0.5s;
			}

			.background.active {
				opacity: 1 !important;
			}

			h1 {
				font-family: 'BebasNeueRegular';
				font-size: 45px;
				color: #FFFFFF;
				text-shadow: 0px -3px 3px #333;
				margin: 0;
			}

			h2 {
				font-family: 'BebasNeueRegular';
				font-size: 30px;
				color: #FFFFFF;
				text-shadow: 0px -2px 2px #333;
				margin: 0;
			}

			h3 {
				font-family: 'Arial';
				font-size: 20px;
				color: #FFFFFF;
				text-shadow: 0px -2px 2px #333;
				margin: 0;
			}

			a {
				color: white;
				text-decoration: none;
				font-weight: bold;
			}

			a:hover {
				text-decoration: underline;
			}

			#nav {
				position: fixed;
				top: 40%;
				left: 9%;
				width: 105px;
				padding: 0;
				list-style-type: none;
				font-family: 'BebasNeueRegular';
				font-size: 20px;
			}

			#nav li {
				background-color: rgba(0, 0, 0, 0.6);
				margin-top: 1px;
				padding: 4px 0px 4px 5px;
				transition: border-right 0.3s;
			}

			#nav li.active {
				border-right: 2px solid #30A9F1;
			}

			#nav:hover .active {
				border-right: 0px;
			}

			#nav li:hover {
				border-right: 2px solid #30A9F1 !important;
			}

			#nav a {
				text-shadow: 0px -2px 2px #333;
			}

			#nav a:hover {
				text-decoration: none;
			}

			.page {
				display: none;
			}

			.page.active {
				display:block;
			}

			.widget {
				margin: 0;
				padding: 5px 10px 5px 10px;
				margin-bottom: 10px;
				border-top: 3px solid transparent;
				background-color: rgba(0, 0, 0, 0.6);
			}

			.widget.main {
				border-top-color: #30A9F1;
			}

			#heading {
				position: absolute;
				top: 20%;
				right: 9%;
			}

			.content {
				position: absolute;
				top: 20%;
				left: calc(18% + 105px);
				width: calc(81% - (18% + 105px));
				padding-bottom: 10px;
				margin-bottom: 8%;
				font-family: 'Arial';
				color: white;
			}

			.content h2 {
				margin-bottom: 20px;
			}

			.btop {
				border-top: 1px solid white;
				display: inline-block;
				margin-top: 2px;
				padding-top: 3px;
			}

			.gallery {
				position: relative;
				left: -5px;
				width: calc(100% + 10px);
				height: 204px;
				margin-top: 20px;
				overflow: auto;
				overflow-y: hidden;
				white-space: nowrap;
			}

			.gallery div {
				background-size: cover;
				background-position: center;
				background-repeat: no-repeat;
				width: calc((100% / 3) - 14px);
				height: 200px;
				margin: 0 5px 0 5px;
				float: left;
				border: 2px solid #999;
				border-radius: 4px;
				transition: border-color 0.3s;
			}

			.gallery div.active {
				border-color: #30A9F1;
			}

			#blog_pages {
				position: absolute;
				left: 0px;
				bottom: -10px;
			}

			.blog_pagelink {
				display: inline-block;
				padding: 3px 5px 1px 5px;
				text-align: center;
				background-color: rgba(0, 0, 0, 0.6);
			}

			.blog_pagelink.active {
				border-top: 1px solid #30A9F1;
				font-weight: bold;
				padding-top: 2px;
			}

			.article {
				padding-bottom: 25px;
			}

			.article h3 {
				margin-bottom: 3px;
			}

			.article a:hover {
				text-decoration: underline;
			}

			.article a.has_gallery {
				position: absolute;
				right: 10px;
				font-size: 11px;
			}

			/* layout for mobile devices */
			@media only screen
			and (min-device-width : 320px)
			and (max-device-width : 598px) {
				nav {
					text-align: center;
				}

				#nav {
					position: absolute;
					top: 0px;
					left: 0px;
					width: 100%;
					margin: 0;
				}

				#nav li {
					display: inline;
					padding: 4px 5px 4px 5px;
				}

				#nav li.active {
					border-right: 0px !important;
					border-bottom: 2px solid #30A9F1;
				}

				#nav:hover .active {
					border-bottom: 0px;
				}

				#nav li:hover {
					border-right: 0px !important;
					border-bottom: 2px solid #30A9F1 !important;
				}

				.content, #heading {
					left: calc((10% - 20px) / 2);
					width: 90%;
				}
			}
		</style>
	</head>
	<body>
		<div id='raster'>
			<div class='background {{home_active}}' id='background_home' style='background-image: url("{{cdn_url}}/background/home.jpg");'></div>
			<div class='background {{fencing_active}}' id='background_fencing' style='background-image: url("{{cdn_url}}/background/fencing.jpg");'></div>
			<div class='background {{computing_active}}' id='background_computing' style='background-image: url("{{cdn_url}}/background/computing.jpg");'></div>
			<div class='background {{photography_active}}' id='background_photography' style='background-image: url("{{cdn_url}}/background/photography.jpg");'></div>
			<div class='background {{photography_1_active}}' id='background_photography_1' style='background-image: url("{{cdn_url}}/background/photography_1.jpg");'></div>
			<div class='background {{photography_2_active}}' id='background_photography_2' style='background-image: url("{{cdn_url}}/background/photography_2.jpg");'></div>
			<div class='background {{photography_3_active}}' id='background_photography_3' style='background-image: url("{{cdn_url}}/background/photography_3.jpg");'></div>
			<div class='background {{blog_active}}' id='background_blog' style='background-image: url("{{cdn_url}}/background/blog.jpg");'></div>
		</div>
		<main>
			<div id='heading' class='widget main page {{home_active}}'>
				<h1>Hi, my name is Keno Schwalb</h1>
			</div>
			<div id='content_fencing' class='content widget main page {{fencing_active}}'>
				<h2>Fencing</h2>
				I absolutely love fencing. I started when I was eight and I won't quit anytime soon.<br />
				Fencing is a wonderful sport for various reasons. Just like every sport, fencing is endlessly thrilling.<br />
				Most clubs build up a strong feeling of community and watching your clubmates in a competition can be even more nerve-racking than fencing yourself.<br />
				Throughout a hundred competitions I have gone through glorious victories and devastating defeats. Fencing really taught me how to handle defeature.<br />
				<br />
				I've always been relatively successful, achieving ranks between 17 and 41 on the German rankings.<br /> Fencing on a high-level competition like the German Championships is a feeling that's impossible to describe. It's just the most wonderful thing in the world :)<br />
				<br />
				In 2012, two friends and I obtained a license for coaching and trained our club's beginners group till fall 2014.<br />
				Being a coach opens up a whole new perspective to fencing. It helps understand why, at times, you are forced to do things that seem to be pointless and forces you to learn how to make decisions quickly (or plan ahead).<br />
				Even though coaching a horde of children can be tedious work after a long day of school, I love teaching people and it's usually still a lot of fun!
			</div>
			<div id='content_computing' class='content widget main page {{computing_active}}'>
				<h2>Computing</h2>
				Most of the code I have written is rotting away in private repos on bitbucket and github because I don't feel it's worth publishing. This is what's public so far:<br />
				<br />
				<h3>Chreos</h3>
				<div class='btop'>
					Chreos is installer for ElementaryOS on some Chromebooks.<br />
					It's based on <a href='https://github.com/jay0lee/chrubuntu-script'>Chrubuntu</a>.<br />
					Please don't tell me you don't like the name. I don't either.<br />
					<a target='blank' href='https://github.com/Caerostris/chreos'>Source</a><br />
					<br />
				</div>

				<h3>Van2Shout</h3>
				<div class='btop'>
					A shoutbox for <a target='blank' href='http://vanillaforums.org'>vanilla forums</a>.<br />
					<a target='blank' href='https://github.com/Caerostris/Van2Shout'>Source</a> | <a target='blank' href='http://vanillaforums.org/addon/van2shout-plugin'>Homepage</a><br />
					<br />
				</div>

				<h3>Sight</h3>
				<div class='btop'>
					Simple, real time web analytics powered by <a target='blank' href='http://nodejs.org'>NodeJS</a><br />
					(Not published yet)<br />
					<br />
				</div>

				<h3>GoSmtp</h3>
				<div class='btop'>
					A smtp server library for <a target='blank' href='http://golang.org'>go</a> that has support for attachments.<br />
					I could not find one so I built my own.<br />
					Mostly scavanged from <a target='blank' href='https://github.com/flashmob/go-guerrilla'>GoGuerrilla</a> and <a target='blank' href='https://github.com/adampresley/mailslurper-go'>MailSlurper</a><br />
					<a target='blank' href='https://0x.cx/Caerostris/smtp'>Source</a><br />
					<br />
				</div>

				<h3>sslprotect.js</h3>
				<div class='btop'>
					Security through obscurity protection against SSLStrip
					<a target='blank' href='https://github.com/Caerostris/sslprotect.js'>Source</a><br />
				</div>
			</div>
			<div id='content_photography' class='content widget main page {{photography_active}}'>
				<h2>Photography</h2>
				Cameras are fascinating. My dad is a photographer and somehow his dedication has spread to me.<br />
				Even though I've never really been interested in pictures of man-made objects, I've come to enjoy <a href='http://en.wikipedia.org/wiki/Urban_exploration'>Urban Exploration</a>.<br />
				Be it the thrill of discovering abandoned buildings or the calm and timeless attitude, UrbEx is just magic!<br />
				Apart from UrbEx I enjoy <a href='http://en.wikipedia.org/wiki/Light_painting'>Light Painting</a> and taking pictures of nature.<br />
				<br />
				I publish some of my work at <a target='blank' href='http://500px.com/KenoSchwalb'>500px.com</a>. Go check it out :)
				<div class='gallery'>
					<a data-image='photography_1' class='gallery_link' href='{{cdn_url}}/background/photography_1.jpg'>
						<div class='image' style="background-image:url('{{cdn_url}}/background/photography_1.jpg');"></div>
					</a>
					<a data-image='photography_2' class='gallery_link' href='{{cdn_url}}/background/photography_2.jpg'>
						<div class='image' style="background-image:url('{{cdn_url}}/background/photography_2.jpg');"></div>
					</a>
					<a data-image='photography_3' class='gallery_link' href='{{cdn_url}}/background/photography_3.jpg'>
						<div class='image' style="background-image:url('{{cdn_url}}/background/photography_3.jpg');"></div>
					</a>
				</div>
			</div>
			<div id='content_blog' class='content page {{blog_active}}'>
				<div id='blog_pages'>
					{{#blog_pages}}
						<div class='blog_pagelink {{#page_active}}active{{/page_active}}'><a href='/blog/archive/{{page_number}}'>{{page_number}}</a></div>
					{{/blog_pages}}
				</div>
				{{#blog_articles}}
				<div class='article widget main'>
					<article itemscope itemtype="http://schema.org/Article">
						{{#has_gallery}}<a href='/blog/read/{{_id}}' class='has_gallery'>images attached</a>{{/has_gallery}}
						<a itemprop="url" href='/blog/read/{{_id}}'><h3 itemprop="name">{{blog_title}}</h3></a>
						<section itemprop="articleBody">{{{blog_content}}}</section>
					</article>
				</div>
				{{/blog_articles}}
			</div>
			<nav>
				<ul id='nav'>
					<li id='navlink_home' data-page='home' class='navlink {{home_active}}'><a href='/'>Home</a></li>
					<li id='navlink_fencing' data-page='fencing' class='navlink {{fencing_active}}'><a href='/fencing'>Fencing</a></li>
					<li id='navlink_computing' data-page='computing' class='navlink {{computing_active}}'><a href='/computing'>Computing</a></li>
					<li id='navlink_photography' data-page='photography' class='navlink {{photography_active}}'><a href='/photography'>Photography</a></li>
					<li id='navlink_blog' data-page='blog' class='navlink {{blog_active}}'><a href='/blog{{archive_page}}'>Blog</a></li>
				</ul>
			</nav>
		</main>
		<script type='text/javascript'>
			// scary tracking code that respects do not track
			function track(){var d=document,i=d.createElement("img"),r=d.referrer;r=(typeof r!='undefined'&&r!=="")?'referrer='+r:'';i.src='https://track.0x.cx/track?'+r;}track();
		</script>
		<noscript>
			<img src='https://track.0x.cx/track' width='0' height='0' alt='' />
		</noscript>
	</body>
</html>
